<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- Global log level -->
	<targets>
		<!-- Console logging -->
		<target xsi:type="Console" name="console" layout="${longdate} | ${level} | ${message} ${exception}" />

		<!-- File logging -->
		<target xsi:type="File" name="file" fileName="logs/app.log" layout="${longdate} | ${level} | ${message} ${exception}" />

		<!-- Debug logging (Only for development mode) -->
		<target xsi:type="Debug" name="debug" layout="${longdate} | ${level} | ${message} ${exception}" />
	</targets>

	<rules>
		<!-- Log everything to console and file -->
		<logger name="*" minlevel="Info" writeTo="console, file" />
	</rules>

</nlog>
